<div class="bloc bloc-fill-screen bg-ebook-20image l-bloc" id="bloc-0">
	<div class="container fill-bloc-top-edge">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-light row navbar-expand-md">
					<a class="navbar-brand " href="/">

						<%= image_tag("Logo.png", :size => "150x50") %>
						</a>
					<button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0 mr-md-0 ml-auto" data-toggle="collapse" data-target=".navbar-1" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse navbar-1">
						<ul class="site-navigation nav navbar-nav ml-auto colour-nav">
							<li class="nav-item">
								<%= link_to "Home", root_path %>
							</li>
							<li class="nav-item">
								<%= link_to "Feature", features_path %>
							</li>
							<li class="nav-item">
								<a href="https://www.amazon.co.uk/dp/B07KSNDXGT">Buy Now</a>
							</li>
							<li class="nav-item">
								<%= link_to "Contact", contact_path %>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-1">
				<h1 class="mg-md colour">
					Work towards a better <br> posture and better life
				</h1>
				<h4 class="mg-md colour">
					In this eBook you will find exercises with the resistance band, an office workout and tips and tricks to improve your posture. We do care about you with this book you get al the information to improve your posture as quick as possible.
				</h4>			
			</div>
			<div class="col-lg-3">
				<%= image_tag("Logo.png", :size => "150x50") %>
			</div>
		</div>
	</div>

	<div>
		<div id="" class="col-lg-6 offset-lg-1">
				<form action="https://shop.us19.list-manage.com/subscribe/post?u=dbbf205b650ddd3ce89367568&amp;id=80a0c1c1c2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-group" target="_blank" novalidate>
				    <div id="">
					<p class="colour">Subscribe to our mailing list and get your free eBook</p>
				<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
					<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
				</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dbbf205b650ddd3ce89367568_80a0c1c1c2" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="GET YOUR EBOOK" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
				    </div>
				</form>
			</div>
	</div>
	<div class="container fill-bloc-bottom-edge">
		<div class="row">
			<div class="col-12">
				<div class="text-center">
					<a href="#" data-scroll-speed="1000" onclick="scrollToTarget('0',this)"><span class="fa fa-angle-down icon-md animated bounce animDelay08"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<!-- <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script> -->
<!--End mc_embed_signup-->